.faq {

  margin-bottom: 181px;
  padding-top: 169px;
  padding-left: 59px;
  text-align: center;

  &__title {
    font-family: 'Montserrat-ExtraBold';
    font-size: 128px;
    line-height: 156px;
    color: var(--white);
  }
}
