:root {
  --black: #000;
  --white: #FFF;
  --header-logo-color: #FFF;
  --raw-sunset: #F95A2B;
  --river-styx: #18191f;
  --ocean-in-a-bowl: #61E4C5;
  --palatinate-blue: #1947E5;
  --cochonnet: #FF89BB;
  --bitcoin: #FFBD12;
  --amazonite: #00C6AE;
}
